<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    <table>
      <tr>
        <td>
          <img src="../assets/contabilidad.png" alt="Logo" class="img_contabilidad">
        </td>
        <td class="titulo_contabilidad_header">
            Contabilidad
        </td>
      </tr>
    </table>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contabilidad</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button>Contabilidad</ion-button>
  <p class="parrafo1_pe">El profesional técnico de contabilidad puede trabajar en una variedad de entornos, incluyendo empresas privadas, organizaciones sin fines de lucro, agencias gubernamentales y como consultor independiente. Su papel es crucial para garantizar la salud financiera y el cumplimiento normativo de la entidad en la que trabaja.</p>
<ion-button>Areas de Desempeño</ion-button>
<ul>
  <li>Contabilidad financiera.</li>
  <li>Contabilidad de Costos.</li>
  <li>Auditoria</li>
  <li>Impuestos.</li>
  <li>Contabilidad Administrativa.</li>
  <li>Asesoria financiera</li>
  <li>Capacitacion</li>
  </ul>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-title><p>Chevarria - 2025 Copyright</p></ion-title>
    </ion-toolbar>  
