<ion-header [translucent]="true">
  <ion-toolbar>
    <table>
      <tr>
        <td>
          <img src="../assets/logo.png" alt="Logo" style="height: 40px; margin-right: 10px;">
        </td>
        <td>
          <ion-title>
            IESTP "24 de Julio de Zarumilla"
          </ion-title>

        </td>
      </tr>
    </table>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <style>
    .parrafo1 {
      font-size: 16px;
      
    }
  </style>
  <ion-button>Presentacion</ion-button>
<p class="parrafo1">El Instituto "24 de Julio de Zarumilla" es una institucion de Educacion
  Superior Tecnologica que ofrece 05 programas de Estudios:</p>
<table>
  <tr>
    <td><img src="../assets/APSTI.png" alt="logo APSTI" width="70"/></td>
    <td>
      <ion-button routerLink="/apsti" fill="clear" class="pe">
        APSTI
        <ion-icon slot="end" name="link-outline"></ion-icon>
      </ion-button>
    </td>
  </tr>
  <tr>
    <td><img src="../assets/ENFERMERIA.png" alt="logo ET" width="70"/></td>
    <td>
      <ion-button routerLink="/enfermeria" fill="clear" class="pe">
       ENFERMERIA TECNICA
        <ion-icon slot="end" name="link-outline"></ion-icon>
      </ion-button>
    </td>
  </tr>
  
  <tr>
    <td><img src="../assets/contabilidad.png" alt="logo CONTABILIDAD" width="70"/></td>
    <td>
      <ion-button routerLink="/contabilidad" fill="clear" class="pe">
        CONTABILIDAD
        <ion-icon slot="end" name="link-outline"></ion-icon>
      </ion-button>
    </td>
  </tr>
  <tr>
    <td><img src="../assets/MECATRONICA.png" alt="logo MECATRONICA" width="70"/></td>
    <td>
      <ion-button routerLink="/apsti" fill="clear" class="pe">
        MECATRONICA
        <ion-icon slot="end" name="link-outline"></ion-icon>
      </ion-button>
    </td>
  </tr>
  <tr>
    <td><img src="../assets/APSTI.png" alt="logo PA" width="70"/></td>
    <td>
      <ion-button routerLink="/apsti" fill="clear" class="pe">
        PRODUCCION AGROPECUARIA
        <ion-icon slot="end" name="link-outline"></ion-icon>
      </ion-button>
    </td>
  </tr>
</table>
<ion-button>Duracion</ion-button>
<p class="parrafo1">Cada programa de estudios tiene una duracion de <span class="resaltar">03 años</span>
   academicos <span class="resaltar">(06 semestres)</span>, 
con una carga horaria de <span class="resaltar">30 horas semanales</span>, distribuidas 
en <span class="resaltar">05 dias a la semana </span> , en turnos de manana.</p>

<ion-button>Requisitos</ion-button>
<ul>
  <li>Certificado de estudios secundarios completos.</li>
  <li>Documento Nacional de Identidad (DNI) vigente.</li>
  <li>Partida de nacimiento actualizada.</li>
  <li>Fotografias tamaño carnet (segun especificaciones del instituto).</li>
  <li>Comprobante de pago de la matricula.</li>
</ul>
<ion-footer>
    <ion-toolbar>
        <ion-title><p>Chevarria - 2025 Copyright</p></ion-title>
    </ion-toolbar>
</ion-footer>